.reading-csv {
  background: #f1f7fc;
  padding: 10px 0;
}

@media (max-width: 767px) {
  .reading-csv {
    padding: 20px 0;
  }
}

.reading-csv form {
  max-width: 680px;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(255, 19, 19, 0.1);
}

@media (max-width: 767px) {
  .reading-csv form {
    padding: 30px;
  }
}

.reading-csv form {
  border: 1px solid bs-info-rgb: 59, 153, 224;
}

.reading-csv form .btn {
  padding: 16px 32px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none !important;
}

.reading-csv form .btn:hover {
  opacity: 1;
}

.reading-csv form .btn:active {
  transform: translateY(1px);
}

.reading-csv form .btn-primary {
  background-color: #055ada !important;
  margin-top: 15px;
  color: #fff;
}

#myChart{
  width: 50%;
  margin: 0 auto;
  display: block;
  border: 1px solid #383737;
}
#myChart2{
  width: 50%;
  margin: 0 auto;
  display: block;
  border: 1px solid #383737;
}
#myChart3{
  width: 50%;
  margin: 0 auto;
  display: block;
  border: 1px solid #383737;
}
#myChart4{
  width: 50%;
  margin: 0 auto;
  display: block;
  border: 1px solid #383737;
}